<aside class="main-sidebar">
	<!-- sidebar -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image"><img src="dist/img/avatar5.png" class="img-circle" alt="User Image"></div>
			<div class="pull-left info"><p class="user-name">User</p>
				<!-- Status -->
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu" id="sideshow">
			<li data-href="teleskop" name="side" class="admin support"><a href="teleskop.html"><i class="fa fa-tv"></i> <span>Teleskop</span></a></li>
			<li class="treeview admin support" name="side">
				<a href="#"><i class="fa fa-th"></i><span>External links</span> <i class="fa fa-angle-left pull-right pull-right-container"></i></a>
				<ul class="treeview-menu" name="side">
					<li class="admin support"><a id="zabbix_link" href="#" target="_blank"><i class="fa fa-area-chart"></i><span>Zabbix</span></a></li>
				</ul>
			</li>
			<li class="admin support" name="side"> <a id="videos_link" href="#" target="_blank"><i class="fa fa-film"></i> <span>Today videos</span></a></li>
		</ul>
        <!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
