<header class="main-header">
	<!-- Logo -->
	<a href="teleskop.html" class="logo" id="left_nav"><span class="logo-mini"><b>A</b>pp</span><span class="logo-lg"><b>A</b>pp</span></a>
	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation" id="right_nav">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle navigation</span></a>
		<!-- dropdown menu -->
		<span id="error_nav"></span>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- User Account Menu -->
				<li class="dropdown user user-menu">
					<!-- Menu Toggle Button -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="dist/img/avatar5.png" class="user-image" alt="User Image"><span class="hidden-xs user-name">User</span></a>
					<ul class="dropdown-menu">
						<!-- The user image in the menu -->
						<li class="user-header">
							<img src="dist/img/avatar5.png" class="img-circle" alt="User Image"><p class="user-name">User</p>
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left"><a href="index.html" class="btn btn-default btn-flat">Profile</a></div>
							<div class="pull-right"><a href="index.html" id="signOut" class="btn btn-default btn-flat">Sign out</a></div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>